table{
    border-collapse: collapse;
    width: 100%;
}
table,th,td,tr{
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
th,td{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14;
    text-align: center;
}
.sc{
    background-color: aqua;
}
th{
    background-color: rgb(87, 87, 215);
}