td{
    text-align: center;
}
h1{
    text-align: center;
}
.a1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13;
    color:black;
}
a2{
    font-family: Segoe UI, 'Tahoma', Geneva, Verdana, sans-serif;
    font-size: 13;
    color:black;
}
a3{
    font-family:'Times New Roman', Times, serif;
    font-size: 13;
    color:black;
}
.a4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: 13;
}