.main{
    display: flex;
    width: 100%;
    height: 100vh;
}
.menu{
    width: 20%;
    background: rgb(132, 229, 132);
    padding: 20px; 
}
.nd{
    flex: 1;
    background:rgb(151, 220, 221) ;
    padding: 20px;
    width: 80%;
}
.menu a{
    display: block;
}