* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* MENU CHÍNH */
.menu {
    list-style: none;
    background: #333;
    display: flex;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

.menu > li > a:hover {
    background: #555;
}

/* SUB MENU DỌC */
.submenu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #444;
    min-width: 220px;
    display: none;
}

.submenu li a {
    color: white;
    padding: 12px 15px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

.submenu li a:hover {
    background: #666;
}

/* HIỆN SUB MENU */
.has-sub:hover .submenu {
    display: block;
}

/* SUB MENU BÊN PHẢI */
.submenu-right {
    list-style: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: #555;
    min-width: 230px;
    display: none;
}

.submenu-right li a {
    padding: 12px 15px;
    border-bottom: 1px solid #666;
}

/* HIỆN MENU BÊN PHẢI */
.has-sub-right {
    position: relative;
}

.has-sub-right:hover .submenu-right {
    display: block;
}